/*
	===========================
	GLOBAL SETTINGS
	===========================
*/

* {
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: none;
    text-align: center;
}

html {
    font-size: 10px;
    font-family: 'Titillium Web', sans-serif;
}

body {
    overflow-x: hidden;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


/*
	===========================
	HEADER SECTION
	===========================
*/

header.section--header {
    height: 100vh;
    background-color: #87509c;
}

/* menu - hidden on mobile*/
.nav__container {
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.nav {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: -100%;
    right: 100%;
    padding: 100px 0 20px;
    z-index: 999;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}

/* menu show */
.nav.active {
    left: 0%;
    right: 0%;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #87509c;
    overflow: hidden;
}

.nav__list {
    height: 100%;
    padding: 20% 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav__item {
    width: 100%;
}

.nav__link {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    -webkit-transition: .5s;
    transition: .5s;
}

.nav__link:hover {
    background-color: #643a79;
    border-radius: .4rem;
}

/* Logo */
.logo__container {
    position: relative;
    display: block;
    width: 116px;
    z-index: 9999;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}

.logo__container.active {
    position: fixed;
    top: 10%;
    left: 10%;
}

.logo__img {
    height: auto;
}

/* header H1 */

.header__h1 {
    padding: 3rem 0;
    font-size: 3rem;
    color: #f7f3ea;
    font-weight: bold;
    line-height: 1.5
}

/* break line in header H1 for mobile */
.br {
    display: inline;
}

.br--mobile:before {
    content: "\a ";
    white-space: pre;
}

/* Header button */

.btn {
    width: 100%;
    height: 50px;
    border-radius: .4rem;
    border: .4rem solid transparent;
    border-bottom: .4rem solid rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 1.8rem;
    line-height: 42px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn--header {
    background-color: #eb7d4b;
}

/* Burger */

.burger {
    position: fixed;
    top: 10%;
    right: 5%;
    width: 40px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 9999;
    -webkit-transition: .5s;
    transition: .5s
}

.burger.active {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.burger__bar {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: #fff;
    left: 0;
    -webkit-transition: .2s;
    transition: .2s;
}

.burger__bar.dark {
    background-color: #3c4761;
}

.burger__bar--bar1 {
    top: 0;
}

.burger__bar--bar2 {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.burger__bar--bar3 {
    bottom: 0;
}

/* burger animation */

.burger.active .burger__bar--bar1 {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

.burger.active .burger__bar--bar2 {
    opacity: 0;
    -webkit-transition: 0s;
    transition: 0s;
}

.burger.active .burger__bar--bar3 {
    bottom: 50%;
    -webkit-transform: translateY(50%) rotate(-45deg);
    transform: translateY(50%) rotate(-45deg);
}

/*
	===========================
	SECTIONS - Globals settings
	===========================
*/

/* button scroll to Top*/
.btn__scrollToTop {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(135, 80, 156, .4);
    font-size: 3rem;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.btn__scrollToTop:hover {
    background-color: rgba(135, 80, 156, 1);
}

.section {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20% 10%;
}

.section--whiteFont {
    color: #fff;
}

.section--darkFont {
    color: #3c4761;
}

.section__title {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.section__title:after {
    display: block;
    content: '';
    width: 8.7rem;
    height: .4rem;
    margin: .5em auto;
    background: #0003;
}


.section__descr {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 20px 0;
}

.section__main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%
}

.main__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 30px 0;
}

.main__title {
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
}

.main__descr {
    font-size: 1.6rem;
    font-weight: 300;
}

/*
	===========================
	SERVICES SECTION
	===========================
*/

.section--services {
    background-color: #17c2a4;
}

.main__icon {
    -ms-flex-item-align: center;
    align-self: center;
    display: block;
    width: 40%;
    max-width: 170px;
    height: auto;
}

/*
	===========================
	TEAM SECTION
	===========================
*/

.section--team {
    background-color: #e7f1f8;
}

.photo__cropper {
    -ms-flex-item-align: center;
    align-self: center;
    width: 80%;
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.photo {
    width: 100%;
    height: 100%;
}

.main__box--team .main__title {
    margin-bottom: 15px;
}

.main__descr--job {
    margin-bottom: 25px;
    color: #30bae7;
}

.socials__container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 10px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.social__icon {
    margin: 5px;
}

/*
	===========================
	SKILLS SECTION
	===========================
*/

.section--skills {
    background-color: #fff;
}

/* skill circles */

.circle {
    position: relative;
    margin: 0 auto 30px;
    width: 160px;
    height: 160px;
    font-size: 160px;
    border: none;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: #dfe8ed;
    z-index: 1;
}

.circle--skill {
    position: absolute;
    clip: rect(0 .5em 1em 0);
    /*left half of circle is visible) */
    z-index: 2;
}

.circle--fill {
    position: absolute;
    clip: rect(0 .5em 1em 0);
    z-index: 3;
}

.circle:after {
    display: block;
    content: " ";
    width: .85em;
    height: .85em;
    position: absolute;
    top: .075em;
    left: .075em;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 5;
    -webkit-transition: .3s;
    transition: .3s;
}

.circle:hover::after {
    width: .95em;
    height: .95em;
    top: .025em;
    left: .025em;
}

.percentage {
    display: block;
    position: absolute;
    left: 50%;
    font-size: 50px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-weight: 300;
    color: #3c4761;
    text-align: center;
    white-space: nowrap;
    z-index: 6;
    line-height: 160px;
    -webkit-transition: .3s;
    transition: .3s;
}

.circle:hover>.percentage {
    font-size: 60px;
}

.fill--upto50 {
    background-color: #dfe8ed;
}

.fill--over50 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* circle color */

.circle--blue {
    background-color: #30bae7;
}

.circle--purple {
    background-color: #d74680;
}

.circle--green {
    background-color: #15c7a8;
}

.circle--orange {
    background-color: #eb7d4b;
}

/* 
 * Setting of correct skill % value on circle.
 * TIP: Set the first value in the calc function the same as the value given in the class name!
*/

.skill--p90 {
    -webkit-transform: rotate(calc(90 * 360deg / 100));
    transform: rotate(calc(90 * 360deg / 100));
}

.skill--p75 {
    -webkit-transform: rotate(calc(75 * 360deg / 100));
    transform: rotate(calc(75 * 360deg / 100));
}

.skill--p70 {
    -webkit-transform: rotate(calc(70 * 360deg / 100));
    transform: rotate(calc(70 * 360deg / 100));
}

.skill--p85 {
    -webkit-transform: rotate(calc(85 * 360deg / 100));
    transform: rotate(calc(85 * 360deg / 100));
}

/*
	===========================
	PORTFOLIO SECTION
	===========================
*/

.section--portfolio {
    background-color: #ffdd99;
}

.btn__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn.btn--portfolio {
    margin: 20px 25px 0;
    height: 38px;
    width: 84px;
    line-height: 38px;
    color: #393939;
    background-color: rgba(0, 0, 0, 0.078);
    border: none;
}

.btn--portfolio.active {
    background-color: #fff;
}

.main__box--portfolio {
    margin-left: auto;
    margin-right: auto;
    /* center if only one work is shown */
}

.main__box--portfolio.hidden {
    display: none;
}

.portfolio__work {
    display: block;
}

.portfolio__img {
    width: 100%;
}

.main__descr--figc {
    margin-top: 32px;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.btn--more {
    margin-top: 80px;
    background-color: #17c2a4;
}

/*
	===========================
	TESTIMONIALS SECTION
	===========================
*/

.section--testimonials {
    background-color: #d74680;
}

.main__box--testimonials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.photo__cropper--small {
    width: 96px;
    height: 96px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-item-align: start;
    align-self: flex-start
}

.photo--small {
    width: auto;
}

.quote__container {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding-left: 15px;

}

.quote__container * {
    text-align: left;
}

.quote {
    font-size: 1.75rem;
    font-style: italic;
}

.author {
    display: block;
    margin-top: 30px;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-style: normal;
}

.job {
    display: block;
    width: 100%;
    font-size: 1.8rem;
    color: #ffdd99;
    text-transform: none;
}

/*
	===========================
	CONTACT SECTION
	===========================
*/

.section--contact {
    background-color: #3c5499;
}

.section__main--form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 15px 0;
    padding: 20px 25px;
    font-size: 1.8rem;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    border: none;
    background-color: #273a71;
    border-radius: .4rem;
}

.form::-webkit-input-placeholder {
    color: #fff;
}

.form:-ms-input-placeholder {
    color: #fff;
}

.form::-ms-input-placeholder {
    color: #fff;
}

.form::placeholder {
    color: #fff;
}

.btn--send {
    margin: 60px auto 0;
    background-color: #30bae7;
    text-align: center;
}

/*
	===========================
	FOOTER SECTION
	===========================
*/

.section.section--footer {
    background-color: #344b8e;
    padding-top: 0;
    padding-bottom: 0;
}

.footer__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer__container li {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.footer__link {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

/*
	===========================
	MEDIA QUERIES
	===========================
*/

@media (min-width: 359px) {
    .nav__container {
        -ms-flex-item-align: stretch;
        align-self: stretch;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    header.section--header {
        padding: 15% 10%;
    }

    .header__h1 {
        font-size: 3.2rem;
        line-height: 1.7;
    }
}

@media (min-width: 500px) {
    header.section--header {
        padding: 10%;
    }

    .nav__list {
        padding: 10% 0;
    }

    .btn {
        width: 293px;
        height: 70px;
        line-height: 62px;
    }

    .section {
        padding: 10%;
    }

    .section__main {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .main__box {
        -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    }

    .btn__container {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }

    .btn--portfolio {
        margin: 20px 10px;
    }

    .main__box--testimonials {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .footer__container {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer__container li {
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    }
}

@media (orientation: landscape) {
    header.section--header {
        padding: 5%;
    }

    .header__h1 {
        font-size: 2.7rem;
        line-height: 1.5;
        padding: 3rem;
    }

    .btn {
        width: 40%;
        height: 60px;
        line-height: 52px;
        font-size: 1.6rem;
    }

    .nav {
        padding: 60px 20px 10px;
    }

    .nav__list {
        padding: 0 20%;
    }


}

@media (min-width: 767px) {
    header.section--header {
        height: 600px;
        padding: 65px 70px 100px
    }

    .nav__item {
        width: 50%;
    }

    .nav__link {
        padding: 20px 0;
        font-size: 3.5rem;
    }

    .burger {
        top: 12%;
    }

    .btn {
        width: 293px;
        height: 70px;
        line-height: 62px;
    }

    .btn:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .section {
        padding: 65px 70px 100px;
    }

    .section__title {
        font-size: 4em;
    }

    .social__link {
        opacity: .6;
    }

    .social__link:hover {
        opacity: 1;
    }

    .btn--portfolio.checked:hover {
        background-color: #fff;
    }


    .btn--portfolio:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .btn--portfolio.active:hover {
        background-color: rgba(255, 255, 255, 0.6);
    }

    .main__box.main__box--testimonials {
        -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    }

    .form--input {
        -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    }

    .footer__link:hover {
        color: #30bae7
    }

    .footer__container li {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (min-width: 500px) and (max-width: 766px) {
    .section__main--team {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .main__box--team {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

@media (min-width: 1024px) {
    .header__h1 {
        font-size: 4.2rem;
        line-height: 1.2;
        padding: 0;
    }

    .br--desktop:before {
        content: "\a ";
        white-space: pre;
    }

    .br--mobile:before {
        display: none;
    }

    .burger {
        display: none;
    }

    .btn {
        margin-bottom: 0px;
        -webkit-transition: .3s;
        transition: .3s;
    }

    .nav {
        position: static;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 0;
    }

    .nav__list {
        padding: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .nav__item {
        margin: 0 10px;
        width: 77px;
        height: 36px;
    }

    .nav__link {
        width: 100%;
        padding: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 36px;
    }

    .section {
        padding: 120px 100px 130px;
    }

    .section__descr {
        width: 70%;
    }

    .section__main {
        margin-top: 50px;
    }

    .main__box {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        padding: 0 10px;
    }

    .main__title {
        margin: 0 0 50px;
    }

    .main__icon {
        width: auto;
        margin-bottom: 50px;
        max-height: 165px;
        max-width: 150px;
    }

    .photo__cropper {
        margin-bottom: 40px;
    }

    .main__box--portfolio {
        margin: 15px auto;
        -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    }

}

@media (min-width: 1440px) {
    header.section--header {
        padding: 65px 200px 150px
    }

    .nav__container {
        width: 1440px;
        padding: 0 50px;
        -ms-flex-item-align: center;
        align-self: center;
    }

    .section {
        padding: 120px 200px 130px;
    }

    .section__main {
        max-width: 1440px;
        -ms-flex-pack: distribute;
    }

    .main__title {
        font-size: 2.4rem;
    }

    .main__box {
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
        padding: 0;
    }

    .main__box--portfolio {
        -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    }
}